<!-- video description template -->
<div class="row">
	<div class="thumbnail col-sm-2">
		<img src={{videoItem.thumbnails}}>
	</div>
	<div class="caption col-sm-10">
		<div class="desc-buttons">
			{{yield}}
		</div>
		<h4><a class="list-group-item-heading" {{action "titleClick"}}>{{videoItem.title}}</a></h4>
		{{#if includeDesc}}
			<p class="list-group-item-text">{{videoItem.description}}</p>
		{{/if}}
		{{#if includePublishAt}}
			<br><p class="list-group-item-text">Published At: {{moment-format videoItem.publishedAt}}</p>
		{{/if}}
	</div>
</div>