<!-- show playlist items if exist -->
{{#if isEmpty}}
	<!-- no items exist -->
	<div class="well well-lg">
		There are no songs yet in your playlist. Why don't you {{#link-to 'search'}}add some?{{/link-to}}
	</div>
{{else}}
	<!-- show items -->
	<div class="row well well-lg player">
		<!-- reserved to player (play template) -->
		<div class="col-md-6">
			{{outlet}} 
		</div>
		<!-- playlist -->
		<div class="col-md-6 panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>{{model.title}} ({{model.videoItems.length}}) 
					<span class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#editTitleModal"></span></h4>
				</div>
				<div class="panel-body pre-scrollable playlist">
					{{#each model.videoItems as |video|}}
						{{#video-desc videoItem=video includeDesc=false includePublishAt=false}}
							{{#link-to 'playlist.play' video.videoId class="btn btn-success glyphicon glyphicon-play"}}{{/link-to}}
							<h4><span class = "btn btn-danger glyphicon glyphicon-remove" {{action 'RemoveFromPlaylist' video isSuccess}}></span></h4>
						{{/video-desc}}
					{{/each}}
				</div>
			</div>
		</div>
	</div>
{{/if}}

<!-- Advanced options Modal -->
<div>
  <div class="modal fade" id="editTitleModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Playlist Title</h4>
        </div>
        <div class="modal-body">
				{{input type="text" class="form-control" value=playlistName}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" {{action 'SetPlaylistName'}}>Apply</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>